version: 2.0
jobs:
  build:
    docker:
    - image: circleci/golang:1.12
    working_directory: /go/src/github.com/franpog859/cleanaux-backend
    steps:
    - checkout
    - run: bash scripts/check-code.sh

workflows:
  version: 2
  commit:
    jobs:
    - build
  weekly:
    triggers:
    - schedule:
        cron: "0 0 * * 1"
        filters:
          branches:
            only:
            - master
    jobs:
    - build
